<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  
    </ion-title>
    <div>
    <img alt="logo" height="40"   src="https://trello-attachments.s3.amazonaws.com/5de0fb5e5137420a333d2827/60a3bcf9962bf702e3383c61/64b343a4cd349886fa1bb48eee849192/icon.png">
    Saúde Bucal Barueri (Infância)</div>
  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true">
 

<div class="cima">
  <section  background-color="--ion-color-primary-contrast" class="slideInUp">
   
      
        <ion-text size="large" color="primary">Selecione a opção <br>que deseja iniciar:</ion-text>
       
      
   
<ion-button href="/tabs/tab2"expand="block" fill="solid" shape="round" size="medium" class="fadeInLeft">Infográfico Infância</ion-button>
<ion-button expand="block" fill="solid" shape="round" size="medium" class="fadeInLeft1">Dicas</ion-button>
<ion-button expand="block" fill="solid" shape="round" size="medium"  class="fadeInLeft2">Técnicas de Higienização</ion-button>
<ion-button expand="block" fill="solid" shape="round" size="medium"  class="fadeInLeft3">Passatempo</ion-button>
<ion-button expand="block" fill="solid" shape="round" size="medium"  class="fadeInLeft4">A História de Manu e Jack</ion-button>
<ion-button expand="block" fill="solid" shape="round" size="medium"  class="fadeInLeft5">Vamos Colorir</ion-button>
<img alt="logo" height="40"   src="https://trello.com/1/cards/5e68cf5ae81f3016b273b78c/attachments/611a987904f6fd03f054e9c5/download/logosinferior.jpg">


</section>
<img alt="logo" height="40"   src="https://trello.com/1/cards/60a3bcf9962bf702e3383c61/attachments/6182cda9a098240c6e5e6c15/previews/6182cdaaa098240c6e5e6c45/download/pexels-keira-burton-6624467.jpg" id="escova">

</div>



 
</ion-content>