<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab12"></ion-back-button>
    </ion-buttons>
    <ion-title>
  
    </ion-title>
    <div>
    <img alt="logo" height="40"   src="https://trello-attachments.s3.amazonaws.com/5de0fb5e5137420a333d2827/60a3bcf9962bf702e3383c61/64b343a4cd349886fa1bb48eee849192/icon.png">
    Saúde Bucal Barueri (Adulto)</div>
  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true">
 

<div class="cima">
  <section  background-color="--ion-color-primary-contrast" class="slideInUp">
   
      
        <ion-text size="large" color="primary">Selecione a opção <br>que deseja iniciar:</ion-text>
       
      
   
<ion-button href="tabs/pdf8"  expand="block" fill="solid" shape="round" size="medium" class="fadeInLeft">Conserve Melhor<br>Sua Escova</ion-button>
<ion-button href="tabs/pdf3"  expand="block" fill="solid" shape="round" size="medium" class="fadeInLeft1">Alimentos Saudáveis</ion-button>


<img alt="logo" height="40"   src="./assets/logosinferior.jpg">


</section>
<img alt="logo" height="40"   src="./assets/adulto.jpg" id="escova">

</div>



 
</ion-content>