<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    
    <div>
    <img alt="logo" height="40"   src="https://trello-attachments.s3.amazonaws.com/5de0fb5e5137420a333d2827/60a3bcf9962bf702e3383c61/64b343a4cd349886fa1bb48eee849192/icon.png">
    Saúde Bucal Barueri (Primeira Infância)</div>

  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true">
 

<div class="cima">
  <section  background-color="--ion-color-primary-contrast" class="slideInUp">
   
      
        <ion-text size="large" color="primary">Selecione a opção <br>que deseja iniciar:</ion-text>
       
      
   
<ion-button href="tabs/pdf1" expand="block" fill="solid" shape="round" size="medium" class="fadeInLeft">Infográfico Primeira Infãncia</ion-button>
<ion-button href="/tabs/tab3" expand="block" fill="solid" shape="round" size="medium" class="fadeInLeft1">Dica</ion-button>
<ion-button href="tabs/pdf2" expand="block" fill="solid" shape="round" size="medium"  class="fadeInLeft2">Técnicas Higienização</ion-button>

<img alt="logo" height="40"   src="./assets/logosinferior.jpg">


</section>
<img alt="logo" height="40"   src="./assets/prifancia.png" id="escova">

</div>



 
</ion-content>