<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>A História de Manu e Jack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: red;">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/47RI4AtJzBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <ion-text></ion-text>
</ion-content>
